/*******************************************************************************

    ηMatrix - a browser extension to black/white list requests.
    Copyright (C) 2019-2025 Alessio Vanni

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see {http://www.gnu.org/licenses/}.

    Home: https://gitlab.com/vannilla/ematrix
    uMatrix Home: https://github.com/gorhill/uMatrix
*/

body {
    margin: 0;
    border: 0;
    padding: 0;
    font: 15px sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    }
#dashboard-nav {
    margin: 0;
    border: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 50px;
    z-index: 10;
    }
#dashboard-nav-widgets {
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 4px 0 0 0;
    white-space: nowrap;
    background-color: white;
    }
#dashboard-nav-widgets span {
    padding: 0 0.5em;
    font-size: larger;
    }
.tabButton {
    margin: 0;
    border: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 4px;
    display: inline-block;
    position: relative;
    top: 1px;
    color: black;
    background-color: #eee;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
    }
.tabButton:focus {
    outline: 0;
    }
.tabButton:active,.tabButton:visited {
    color: inherited;
    }
.tabButton.selected {
    border-bottom: 1px solid white;
    background-color: white;
    }
iframe {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    overflow: auto;
    position: absolute;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    }
