/*******************************************************************************

    ηMatrix - a browser extension to black/white list requests.
    Copyright (C) 2019-2025 Alessio Vanni

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see {http://www.gnu.org/licenses/}.

    Home: https://gitlab.com/vannilla/ematrix
    uMatrix Home: https://github.com/gorhill/uMatrix
*/

body {
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0 0.5em 0 0.5em;
    font: 15px/1.4 sans-serif;
    }
body > *:first-child {
    margin-top: 0;
    }
h2, h3 {
    margin: 1em 0;
    font-family: sans-serif;
    }
h2 {
    font-size: 18px;
    }
h2:nth-of-type(1) {
    margin-top: 0;
    }
h3 {
    font-size: 16px;
    }
h2 + * {
    padding: 0;
    }
html.ltr h2 + * {
    margin: 0 0 0 1em;
    }
html.rtl h2 + * {
    margin: 0 1em 0 0;
    }
a {
    text-decoration: none;
    }
button {
    padding: 0.3em 0.5em;
    }
input[disabled] + label {
    color: gray;
    }
.para {
    width: 40em;
    }

.whatisthis {
    margin: 0 0 0 8px;
    border: 0;
    font-family: FontAwesome;
    padding: 0 0 4px 0;
    cursor: pointer;
    opacity: 0.4;
    }
.whatisthis:before {
    content: '\f059';
    }
.whatisthis:hover {
    opacity: 1.0;
    }
.whatisthis-expandable {
    background-color: #F8F8F8;
    border: 1px dotted #aaa;
    display: none;
    font-size: smaller;
    margin: 0.5em 0 1em 1.25em;
    padding: 0.5em;
    white-space: pre-line;
    }
.whatisthis-expandable > p {
    margin-top: 1em;
    margin-bottom: 0;
    }
.whatisthis-expandable > p:first-child {
    margin-top: 0;
    }
.whatisthis-expandable.whatisthis-expanded {
    display: block;
    }
.warn {
    margin: 0;
    padding: 5px;
    background-color: #FEDAE0;
    }
