﻿/*******************************************************************************

    ηMatrix - a browser extension to black/white list requests.
    Copyright (C) 2019-2025 Alessio Vanni

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see {http://www.gnu.org/licenses/}.

    Home: https://gitlab.com/vannilla/ematrix
    uMatrix Home: https://github.com/gorhill/uMatrix
*/

#ematrix-button {
    list-style-image: url('../img/browsericons/icon19-19.png');
}
#ematrix-button.off {
    list-style-image: url('../img/browsericons/icon19-off.png');
}

toolbar[iconsize="small"] #ematrix-button {
    list-style-image: url('../img/browsericons/icon19-19.png');
}
toolbar[iconsize="small"] #ematrix-button.off {
    list-style-image: url('../img/browsericons/icon19-off.png');
}
#ematrix-button[badge]::before {
    background: #000;
    color: #fff;
    content: attr(badge);
    font: bold 10px sans-serif;
    margin-top: -2px;
    padding: 0 2px;
    position: fixed;
}
/* This hack required because if the before content changes it de-pops the
   popup (without firing any events). So just hide it instead. Note, can't
   actually *hide* it, or the same thing happens.
**/
#ematrix-button[badge=""]::before {
    padding: 0;
}

/* Override off state when in palette */
toolbarpaletteitem #ematrix-button.off {
    list-style-image: url('../img/browsericons/icon19-12.png');
}

/* Override badge when in palette */
toolbarpaletteitem #ematrix-button[badge]::before {
    content: none;
}

/* Prevent Pale Moon from showing the arrow underneath the button */
/* https://github.com/chrisaljoudi/uBlock/issues/1449#issuecomment-112112761 */
#ematrix-button .toolbarbutton-menu-dropmarker {
    display: none;
    -moz-box-orient: horizontal;
}
