/*******************************************************************************

    ηMatrix - a browser extension to black/white list requests.
    Copyright (C) 2019-2025 Alessio Vanni

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see {http://www.gnu.org/licenses/}.

    Home: https://gitlab.com/vannilla/ematrix
    uMatrix Home: https://github.com/gorhill/uMatrix
*/

div > p:first-child {
    margin-top: 0;
    }
div > p:last-child {
    margin-bottom: 0;
    }
#diff {
    border: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
#diff > .pane {
    border: 0;
    box-sizing: box-border;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: top;
    white-space: normal;
    width: calc(50% - 2px);
    }
#diff > .pane > div {
    padding: 0 0 1em 0;
    text-align: center;
    }
#diff > .pane > div > span {
    float: left;
    }
body[dir="ltr"] #revertButton:after {
    content: '\2009\f061';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    }
body[dir="rtl"] #revertButton:after {
    content: '\2009\f060';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    }
body[dir="ltr"] #commitButton:before {
    content: '\f060\2009';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    }
body[dir="rtl"] #commitButton:before {
    content: '\f061\2009';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    }
#revertButton,
#commitButton,
#diff.edit #editEnterButton {
    opacity: 0.25;
    pointer-events: none;
    }
#editStopButton,
#editCancelButton {
    display: none;
    }
#diff.dirty:not(.edit) #revertButton,
#diff.dirty:not(.edit) #commitButton {
    opacity: 1;
    pointer-events: auto;
    }
#diff.edit #editStopButton,
#diff.edit #editCancelButton {
    display: initial;
    }
#diff.edit #importButton,
#diff.edit #exportButton {
    display: none;
    }
#diff ul {
    border: 0;
    border-top: 1px solid #eee;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 1em 0 0 0;
    }
#diff ul,
#diff textarea {
    font: 12px/1.8 monospace;
    }
#diff.edit .right ul {
    visibility: hidden;
    }
#diff .left {
    padding: 0 0 0 0;
    }
#diff .right > ul {
    color: #888;
    }
#diff li {
    background-color: white;
    direction: ltr;
    padding: 0;
    text-align: left;
    white-space: nowrap;
    }
#diff li:nth-of-type(2n+0) {
    background-color: #eee;
    }
#diff .right li {
    cursor: pointer;
    }
#diff .right li:hover {
    background-color: #ffc;
    color: #000;
    }
#diff .right li.notLeft {
    color: #000;
    }
#diff .right li.notLeft:hover {
    text-decoration: line-through;
    }
#diff .right li.notRight {
    color: #000;
    }
#diff .right li.toRemove {
    color: #000;
    text-decoration: line-through;
    }
#diff textarea {
    border: 0;
    border-top: 1px solid #eee;
    direction: ltr;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    padding: 1em 0 0 0;
    position: absolute;
    resize: none;
    visibility: hidden;
    white-space: pre;
    width: 100%;
    }
#diff.edit textarea {
    visibility: visible;
    }
.hidden {
    display: none;
    }
